@keyframes slide-up {
  from { transform: translateY(50%) translateX(-50%); opacity: 0; }
  to { transform: translateY(0) translateX(-50%); opacity: 1; }
}

.slide-in {
  animation: slide-up 1s ease-out forwards;
}

.toast {
    position: absolute;
    background-color: #333;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    margin: 0 auto;
    padding: 4px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

.toast-container  {
    width: 412px;
    display: block;
    position: relative;
}

