@keyframes slide-up {
  from { transform: translateY(50%) translateX(-50%); opacity: 0; }
  to { transform: translateY(0) translateX(-50%); opacity: 1; }
}

.slide-up {
  animation: slide-up 1s ease-out forwards;
}

.toast {
    position: absolute;
    bottom: 20px;
    left: 48%;
    font-size: 14px;
    margin: 0 auto;
    padding: 8px 16px;
    border-radius: 3px;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;
    width: max-content;
    max-width: 100%;
    
}

.toast.success {
    color: #fff;
    background-color: var(--success-color, #368A04);
}

.toast.error {
    background-color: var(--error-color, #E32A34);
    color: #fff;
}

.toast-container  {
    width: 412px;
    display: block;
    position: relative;
}

