@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --primary-color: #034EA2;
    --primary-color-hover: #034289;
    --success-color: #368A04;
    --error-color: #E32A34;
    --pending-color: #D0D0D0;
}


body {
    min-height: 100vh;
    min-height: 100dvh;
    margin: 0px;
    padding: 0px;
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 412px;
    height: 650px;
    padding: 0px;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
}

.content {
    padding-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
}



@media screen and (max-width: 486px) {
    .container {
        width: 100%;
        height: 100vh;
        height: 100dvh;
        border-radius: 0px;
    }
    #root {
        width: 100%;
        height: 100%;
    }
}

header {
    background: var(--primary-color, blue);
    color: #fff;
    padding: 1rem 18px;
    text-transform: uppercase;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

input, textarea, select {
    flex: 1;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #DDD;
    transition: all 0.3s ease;
    font-family: 'Jost', sans-serif;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: var(--primary-color, blue);
}

.btn {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-primary {
    background: var(--primary-color, blue);
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background: var(--primary-color-hover, #034289);
}

.btn-outline-primary {
    border: 1px solid var(--primary-color, blue);
    color: var(--primary-color, blue);
}

.btn-outline-primary:hover {
    background: var(--primary-color-hover, #034289);
    color: #fff;
}

.p-2 {
    padding: 1rem;
}

.text-primary {
    color: var(--primary-color, blue);
}

.text-white {
    color: #fff;
}

.text-red {
    color: #E32A34;
}

.pointer {
    cursor: pointer;
}

.mr-2 {
    margin-right: 1rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mr-1 {
    margin-right: 0.5rem;
}

#add-task-btn {
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 85%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0px;
    flex-shrink: 0;
}



.bi-circle-fill.in_progress {
    color: #FFB03C;
}

.bi-circle-fill.completed {
    color: #368A04;
}

.bi-circle-fill.pending {
    color: #D0D0D0;
}

@keyframes fadeOut {
    from {
        transform: translateX(0) scale(1);
        opacity: 1;
        max-height: initial;
    }

    75% {
        max-height: initial;
    }
    to {
        transform: translateX(120%) scale(0);
        opacity: 0;
        max-height: 0;
    }
}

/* View Transition Style */

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-down {
  from { transform: translateY(40px); }
}

@keyframes slide-to-down {
  to { transform: translateY(-40px); }
}

@keyframes slide-from-right {
  from { transform: translateX(40px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-40px); }
}


::view-transition-old(content) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(content) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(list) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-down;
}

::view-transition-new(list) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-down;
}