@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

$primary-color: #034EA2;

body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Jost', sans-serif;
}



header {
    background: $primary-color;
    color: #fff;
    padding: 1rem 18px;
    text-transform: uppercase;
}


.btn-primary {
    background: $primary-color;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background: color.adjust($primary-color, $lightness: -5%);
    }
}
.text-primary {
    color: $primary-color;
}
.text-white {
    color: #fff;
}
.pointer {
    cursor: pointer;
}

.mr-2 {
    margin-right: 1rem;
}

#add-task-btn {
    position: fixed;
    font-size: 24px;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.task-card {
    display: flex;
    vertical-align: top;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;

    &:hover {
        background-color: #F7F7F7;
        border: 1px solid $primary-color;

        .card-content .task-actions {

            display: block;
        }
    }
    
    .card-content {
        display: flex;
        flex-direction: column;
        flex: 1;

        .card-header {
            display: flex;
            
            justify-content: space-between;
            vertical-align: top;
            align-items: flex-start;
            gap: 1rem;

            .title {
                font-weight: 600;
                font-size: 14px;
            }
        }

        p {
            font-weight: 400;
            font-size: 12px;
        }

        .task-actions {
            align-self: flex-end;
            display: none;

            button {
                border: 0px;
                background: transparent;
                cursor: pointer;
            }
        }
    }
}

