.accordion-container {
    padding: 8px;
    overflow: hidden;
}

.accordion-header {
    display: flex;
    padding: 8px;
    border-radius: 3px;
    font-size: 12px;
    background: #F3F6F9;
    justify-content: space-between;
    cursor: pointer;
}

.accordian-trigger-btn {
    transition: transform 0.2s ease;
    color: #034EA2;
}

.show .accordian-trigger-btn {
    transform: rotate(180deg);
}

.accordian-item {
    margin-bottom: 8px;
    overflow: hidden;
}

.accordion-content {
    opacity: 0;
    max-height: 0px;
    transition: max-height 0.3s ease, opacity 0.3s ease;

    &.open {
        opacity: 1;
    }
}